TV_MAZE/src/conf/xml-resources/web-service-references/SERVER/wsdl/localhost_8080/TV_MAZE_WEB_SERVICE/SERVER.wsdl

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.2-b608 (trunk-7979; 2015-01-21T12:50:19+0000) JAXWS-RI/2.2.11-b150120.1832 JAXWS-API/2.2.12 JAXB-RI/2.2.12-b141219.1637 JAXB-API/2.2.13-b141020.1521 svn-revision#unknown. --><!-- Generated by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.2-b608 (trunk-7979; 2015-01-21T12:50:19+0000) JAXWS-RI/2.2.11-b150120.1832 JAXWS-API/2.2.12 JAXB-RI/2.2.12-b141219.1637 JAXB-API/2.2.13-b141020.1521 svn-revision#unknown. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://MPQ/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://MPQ/" name="SERVER">
<types>
<xsd:schema>
<xsd:import namespace="http://MPQ/" schemaLocation="http://localhost:8080/TV_MAZE_WEB_SERVICE/SERVER?xsd=1"/>
</xsd:schema>
</types>
<message name="getReddit">
<part name="parameters" element="tns:getReddit"/>
</message>
<message name="getRedditResponse">
<part name="parameters" element="tns:getRedditResponse"/>
</message>
<message name="getInstagram">
<part name="parameters" element="tns:getInstagram"/>
</message>
<message name="getInstagramResponse">
<part name="parameters" element="tns:getInstagramResponse"/>
</message>
<message name="getTwitter">
<part name="parameters" element="tns:getTwitter"/>
</message>
<message name="getTwitterResponse">
<part name="parameters" element="tns:getTwitterResponse"/>
</message>
<message name="B4">
<part name="parameters" element="tns:B4"/>
</message>
<message name="B4Response">
<part name="parameters" element="tns:B4Response"/>
</message>
<message name="B3">
<part name="parameters" element="tns:B3"/>
</message>
<message name="B3Response">
<part name="parameters" element="tns:B3Response"/>
</message>
<message name="B2">
<part name="parameters" element="tns:B2"/>
</message>
<message name="B2Response">
<part name="parameters" element="tns:B2Response"/>
</message>
<message name="B1">
<part name="parameters" element="tns:B1"/>
</message>
<message name="B1Response">
<part name="parameters" element="tns:B1Response"/>
</message>
<message name="getFacebook">
<part name="parameters" element="tns:getFacebook"/>
</message>
<message name="getFacebookResponse">
<part name="parameters" element="tns:getFacebookResponse"/>
</message>
<portType name="SERVER">
<operation name="getReddit">
<input wsam:Action="http://MPQ/SERVER/getRedditRequest" message="tns:getReddit"/>
<output wsam:Action="http://MPQ/SERVER/getRedditResponse" message="tns:getRedditResponse"/>
</operation>
<operation name="getInstagram">
<input wsam:Action="http://MPQ/SERVER/getInstagramRequest" message="tns:getInstagram"/>
<output wsam:Action="http://MPQ/SERVER/getInstagramResponse" message="tns:getInstagramResponse"/>
</operation>
<operation name="getTwitter">
<input wsam:Action="http://MPQ/SERVER/getTwitterRequest" message="tns:getTwitter"/>
<output wsam:Action="http://MPQ/SERVER/getTwitterResponse" message="tns:getTwitterResponse"/>
</operation>
<operation name="B4">
<input wsam:Action="http://MPQ/SERVER/B4Request" message="tns:B4"/>
<output wsam:Action="http://MPQ/SERVER/B4Response" message="tns:B4Response"/>
</operation>
<operation name="B3">
<input wsam:Action="http://MPQ/SERVER/B3Request" message="tns:B3"/>
<output wsam:Action="http://MPQ/SERVER/B3Response" message="tns:B3Response"/>
</operation>
<operation name="B2">
<input wsam:Action="http://MPQ/SERVER/B2Request" message="tns:B2"/>
<output wsam:Action="http://MPQ/SERVER/B2Response" message="tns:B2Response"/>
</operation>
<operation name="B1">
<input wsam:Action="http://MPQ/SERVER/B1Request" message="tns:B1"/>
<output wsam:Action="http://MPQ/SERVER/B1Response" message="tns:B1Response"/>
</operation>
<operation name="getFacebook">
<input wsam:Action="http://MPQ/SERVER/getFacebookRequest" message="tns:getFacebook"/>
<output wsam:Action="http://MPQ/SERVER/getFacebookResponse" message="tns:getFacebookResponse"/>
</operation>
</portType>
<binding name="SERVERPortBinding" type="tns:SERVER">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
<operation name="getReddit">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="getInstagram">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="getTwitter">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="B4">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="B3">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="B2">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="B1">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="getFacebook">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
</binding>
<service name="SERVER">
<port name="SERVERPort" binding="tns:SERVERPortBinding">
<soap:address location="http://localhost:8080/TV_MAZE_WEB_SERVICE/SERVER"/>
</port>
</service>
</definitions>